<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Plugins"
            visible="true"
            id="SourceTalk_plugin.actionSet">
         <menu
               label="Edit"
               id="edit">
            <separator
                  name="plugins">
            </separator>
         </menu>
         <action
               label="Send to SourceTalk.net"
               icon="icons/ST.png"
               class="sourcetalk_plugin.actions.SampleAction"
               tooltip="Send to SourceTalk.net"
               menubarPath="edit/plugins"
               toolbarPath="Plugins"
               id="sourcetalk_plugin.actions.SampleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
